pyvenv.cfg
.python-version
**__pycache__**
.vscode
.coverage

app/log
app/venv
app/.pytest_cache
app/.mypy_cache
app/build
app/services/license_management/license_file
app/dist

webui/node_module
webui/dist
