@use 'styles/theme.scss';

.root {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: theme.$light-gray-color;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 18px;
    padding-left: 15px;
    color: theme.$white-color;
}

.table {
    padding-bottom: 10px;
    height: 100vh;
}
