@use 'styles/theme.scss';

.root {
    display: flex;
    flex-direction: row;
    background-color: theme.$main-lightened-color;
    height: 45px;
    align-items: center;
}

.title {
    font-size: medium;
    font-style: theme.$default-text-font-style;
    padding-left: 15px;
    justify-content: center;

    &.mTitle {
        padding-left: 30px;
    }
}

.content {
    font-size: medium;
    font-style: theme.$default-text-font-style;
    padding-left: 10px;
    justify-content: center;
}
