@use 'styles/theme.scss';

.headerBar {
    width: 100%;
}

.appIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
}

.appIcon {
    fill: theme.$white-color;
    height: 80%;
    width: 80%;
}
