attrs==23.2.0
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
coverage==7.4.3
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.0
filelock==3.13.1
Flask==3.0.2
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Principal==0.4.0
Flask-Security-Too==5.4.1
Flask-WTF==1.2.1
idna==3.6
importlib_resources==6.1.2
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mock==5.1.0
mongoengine==0.28.1
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
passlib==1.7.4
pluggy==1.4.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.2.0
PyJWT==2.8.0
pymongo==4.6.2
pytest==8.0.2
pytest-cov==4.1.0
pytest-flakes==4.0.5
pytest-isort==3.1.0
pytest-mypy==0.10.3
pytest-pycodestyle==2.3.1
requests==2.31.0
stcrestclient==1.9.1
tomli==2.0.1
types-Flask-Cors==4.0.0.20240106
types-mock==5.1.0.20240106
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.1
WTForms==3.1.2
