.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 1000px;
    min-height: 600px;
}

.footer {
    flex: none;
}

.workingArea {
    display: flex;
    flex: 1 1 0;
}

.workspace {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: stretch;
    overflow: auto;
}

.leftPanel {
    position: sticky;
    top: 0;
}

.content {
    width: 100%;
}
