@use 'styles/theme.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: theme.$error-color;

    &.mRootLarge {
        font-size: 18px;
    }
}
